.ipynb_checkpoints
*~
\#*#
__pycache__
local_test*
batch_*
*.pyc
**/output/full_green_snr.zip
**/workspace_notebooks/scratch.ipynb
**/workspace_notebooks/age_estimation.ipynb
**/workspace_notebooks/ws-12_emcee.ipynb
commands_batch.txt
commands_run.txt
gc_analysis.py
mcmc.py
**/data/jiji_etalow.csv
**/data/jiji_etamid.csv
