body {
  background: #CCFFF0;
  padding-left: 1.5em;
  padding-right: 1.5em
}

h1 {
   font-size: 120%;
   color: darkgreen;
   text-align: center
}


P.L {
  font-size: 140%;
  color: darkgreen;
  font-weight: bold;
  float: left;
  margin: 0em;
}

P.R {
  font-size: 140%;
  color: darkgreen;
  font-weight: bold;
  float: right;
  margin: 0em;
}

P.D {
  font-size: 70%;
  color: darkgreen;
  margin-right: 3em;
  float: right;
}

P.X {
  margin-bottom: 0em;
}

hr {
  color: purple;
  background-color: purple;
  height: 0px;
  width: 90%;
}

hr.S {
  width: 50%
}

p.SC {
  font-size: 90%;
  text-align: center
}

P.CM {
  background: #EEFFEE;
  font-size: 90%
}

SPAN.HL {
  background: #EEFFEE
}

.S {
  font-size: 90%
}

p.C {
  text-align: center
}

.T {
  font-size: 70%
}

p.MENU {
  font-size: 80%;
  text-align: center
}

span.S {
  font-size: 80%;
}

ul {
  padding-left: 1.5em;
}

ul.R {
  font-size: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.R {
  text-indent: -2em;
  padding-left: 2em;
}

.FS {
  margin-left: -0.40em;
}

.FM {
  margin-left: -0.30em;
  margin-right: 0.05em;
}

.FD {
  margin-left: -0.45em;
}

span.my-email::before {
  content: "D.A.Green\0040 mrao.cam.ac.uk";
}

